# Dependências
node_modules/

# Build
dist/
.astro/

# Ambiente local
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
